@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";
.sweep{
    background-color:black;
background-image: 
radial-gradient(at 80% 20%, hsla(212,100%,50%,0.2),transparent 50%),
radial-gradient(at 20% 80% ,hsla(190,100%,50%,0.2),transparent 50%);
}
.new{
background: radial-gradient(circle at top left, #121314, #050506 70%), 
            linear-gradient(135deg, rgba(255,87,51,0.18), rgba(0,0,0,0) 70%),
            radial-gradient(circle at bottom right, rgba(255,255,255,0.03), rgba(0,0,0,0) 80%);
background-blend-mode: overlay, screen;

















}

.jet {
  font-family: "JetBrains Mono", monospace;
}

.space {
  font-family: "Space Grotesk", sans-serif;
 
}

.sora {
  font-family: "Sora", sans-serif;
 
}

.exo {
  font-family: "Exo 2", sans-serif;

}
.bebas{
  font-family: "Bebas Neue", sans-serif;
 
}
@keyframes scrolling{
  0% {
    transform: translateX(0%);
  }

  100%{
    transform: translateX(-50%);
  }
}
.scroll{
 animation: scrolling 15s linear infinite ;

}

.quote{
   font-family: "Kode Mono", monospace;
}
.star{
   font-family: "Libertinus Sans", sans-serif;
}
::-webkit-scrollbar{
  background-color: transparent;
  color:white;
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, white, rgb(90, 88, 88));
  background-size: 200% 200%;
 
  border-radius: 4px;
}
