@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";
.sweep{
    background-color:black;
background-image: 
radial-gradient(at 80% 20%, hsla(212,100%,50%,0.2),transparent 50%),
radial-gradient(at 20% 80% ,hsla(190,100%,50%,0.2),transparent 50%);
}

.jet {
  font-family: "JetBrains Mono", monospace;
}

.space {
  font-family: "Space Grotesk", sans-serif;
 
}

.sora {
  font-family: "Sora", sans-serif;
 
}

.exo {
  font-family: "Exo 2", sans-serif;

}
.bebas{
  font-family: "Bebas Neue", sans-serif;
 
}
@keyframes scrolling{
  0% {
    transform: translateX(0%);
  }

  100%{
    transform: translateX(-50%);
  }
}
.scroll{
 animation: scrolling 15s linear infinite ;

}

.quote{
   font-family: "Kode Mono", monospace;
}
.star{
   font-family: "Libertinus Sans", sans-serif;
}